{% extends 'v2_front/layout/main.html' %}
{% load staticfiles ww_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/v2/article.css' %}">
    <style>
        #id_category {
            font-size: 12px;
            background-color: #F3F3F4;
            border-radius: 10px;
            border: 0;
            height: 30px;
            width: 200px;
        }
        #id_excerpt {
            border: 0;
            border-radius: 8px;
        }
    </style>
{% endblock %}
{% block body %}
  <div class="article-container">
    {% include 'v2_front/layout/header.html' %}
    <div class="activity-content main-container">
      {% include 'v2_front/auth/tab/tab_select.html' %}
      <div class="article-right">
        <form class="needs-validation" method="post" action="{% url 'create_sgt' %}">
            <div class="form-item">
              <div class="form-title">请输入您要反馈的内容，反馈意见若被平台采纳，您将会得 200 积分的奖励</div>
                <div class="mb-3 relative required">
                   {{ sgt_form.title }}
                   {% if sgt_form.title.errors %}
                        <div class="valid-feedback">
                           {{ sgt_form.title.errors }}
                        </div>
                   {% endif %}
                </div>
                <div class="mb-3 relative required">
                  {% csrf_token %}
                  {{ sgt_form.media }}
                  {{ sgt_form.body }}
                  {% if sgt_form.body.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ sgt_form.body.errors }}
                    </div>
                  {% endif %}
                </div>
            </div>
            <div class="form-bottom">
              <div class="btns">
                <button type="submit" class="btn btn-primary publish">提交反馈</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}