{% extends 'v2_front/layout/main.html' %}
{% load staticfiles ww_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/v2/article.css' %}">
    <link rel="stylesheet" href="{% static 'css/v2/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/v2/my_new.css' %}">
    <style>
         #id_chart {
            width:200px; border-radius:15px
        }
        #id_chart_name, #id_video_url {
            width:260px; border-radius:15px; margin-left:10px
        }
        a {
            color: #666;
            text-decoration: none;
            outline: 0;
        }
    </style>
{% endblock %}
{% block body %}
<div class="article-container">
    {% include 'v2_front/layout/header.html' %}
    <div class="activity-content main-container">
       {% include 'v2_front/auth/tab/tab_select.html' %}
       <div class="container content-container row">
          <div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: white">
            <div class="base-detail">
              <div class="information-bd-box">
                  <div class="col-md-12 main">
                    <ul class="header-title-box">
                        <li>
                            <div class="row">
                                <div class="col-xs-2 col-md-2">
                                    <strong>视频序号</strong>
                                </div>
                                <div class="col-xs-5 col-md-5 space-stream-item-title-warp">
                                    <strong>视频标题</strong>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <strong>视频时长</strong>
                                </div>
                                <div class="hidden-xs col-xs-2 col-md-2">
                                    <strong>操作状态</strong>
                                </div>
                            </div>
                        </li>
                        {% for v_chapter in v_chapter_list %}
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 col-md-2"><span>{{ v_chapter.chart }}</span></div>
                                    <div class="col-xs-5 col-md-5">
                                        <a class="question-title" href="">{{ v_chapter.chart_name }}</a>
                                    </div>
                                    <div class="col-xs-3 col-md-3"><span>{{ v_chapter.time_long }}</span></div>
                                    <div class="col-xs-2 col-md-2">
                                        {% if v_chapter.status %}
                                            <a class="btn btn-dark">
                                                <i class="fa" style="color: white">{{ v_chapter.status | check_status }}</i>
                                            </a>
                                        {% else %}
                                             <a href="{% url 'wirte_course_article' c_article.id %}" class="btn btn-danger">
                                                <i class="fa">写文章</i>
                                            </a>
                                        {% endif %}
                                        {% if v_chapter.status == 'CheckFail' %}
                                             <a href="{% url 'wirte_course_article' c_article.id %}" class="btn btn-danger">
                                                 <i class="fa">修改</i>
                                             </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                  <div class="main">
                     <ul class="header-title-box">
                        <li style="margin-top:30px">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <form class="form-inline" method="post" enctype="multipart/form-data" style="padding-top:0;" action="{% url 'create_video_chapter' video_id %}" >
                                       {{ chapter_form.chart }}
                                       {% if chapter_form.chart.errors %}
                                            <div style="color:red; margin-left:8px; margin-top:5px">
                                                {{ chapter_form.chart.errors }}
                                            </div>
                                       {% endif %}
                                       {{ chapter_form.chart_name }}
                                       {% if chapter_form.chart_name.errors %}
                                            <div style="color:red; margin-left:8px; margin-top:5px">
                                                {{ chapter_form.chart_name.errors }}
                                            </div>
                                       {% endif %}
                                       {{ chapter_form.video_url }}
                                       {% if chapter_form.video_url.errors %}
                                            <div style="color:red; margin-left:8px; margin-top:5px">
                                                {{ chapter_form.video_url.errors }}
                                            </div>
                                       {% endif %}
                                       <div class="form-group" style="margin-left: 15px">
                                            <button class="btn btn-danger" type="submit">
                                                提交
                                            </button>
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                     </ul>
                 </div>
              </div>
            </div>
          </div>
       </div>
   </div>
</div>
{% endblock %}
