{% load staticfiles ww_tags %}
<div class="el-dialog__wrapper express-dialog show">
  <div class="el-dialog">
    <div class="el-dialog-title">
      <p>文章审核</p>
      <a href="{% url 'bc_article_list' bc_article.course.id %}" class="close"><img src="{% static 'svg/close.svg' %}" alt=""></a>
    </div>
    <form enctype="multipart/form-data" method="post" action="">
        <div class="el-dialog__body">
          <div class="el-form">
            <div class="el-form-item">
              <div class="el-form-label">拒绝原因：</div>
              <input type="text" name="check_reason" class="el-input">
            </div>
          </div>
          <div class="el-dialog__footer">
            <button type="submit" class="el-button primary">确定</button>
          </div>
        </div>
    </form>
  </div>
</div>