.book-container .book-section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-container .book-summary {
  width: 320px;
  position: fixed;
  left: 0;
  top: 54px;
  height: 100%;
  cursor: default;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: left;
}

@media (max-width: 700px) {
  .book-container .book-summary {
    left: -320px;
  }
}

.book-container .book-summary .book-summary-inner {
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f0f1f4;
  position: relative;
  z-index: 1;
}

.book-container .book-summary .book-summary-inner .section-buy {
  height: 60px;
  cursor: pointer;
  background-color: #18C99D;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}

.book-container .book-summary .book-summary-inner .book-directory {
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 104px);
}

.book-container .book-summary .book-summary-inner .book-directory .section {
  position: relative;
  min-height: 60px;
  padding-left: 16px;
  padding-right: 35px;
  border-radius: 2px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8f9193;
  cursor: pointer;
}

.book-container .book-summary .book-summary-inner .book-directory .section:hover {
  border-radius: 2px;
  background-color: rgba(216, 216, 216, 0.2);
}

.book-container .book-summary .book-summary-inner .book-directory .section.active .step .step-btn {
  border-color: #18C99D;
  color: #18C99D;
}

.book-container .book-summary .book-summary-inner .book-directory .section:nth-last-child(1) .step:before, .book-container .book-summary .book-summary-inner .book-directory .section:nth-last-child(1) .step:after {
  display: none;
}

.book-container .book-summary .book-summary-inner .book-directory .step {
  position: relative;
  margin-right: 15px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-container .book-summary .book-summary-inner .book-directory .step:before, .book-container .book-summary .book-summary-inner .book-directory .step:after {
  z-index: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  background-color: #b5b7ba;
  height: 50%;
  content: "";
}

.book-container .book-summary .book-summary-inner .book-directory .step:before {
  width: 2px;
  top: 54px;
}

.book-container .book-summary .book-summary-inner .book-directory .step:after {
  top: 83%;
}

.book-container .book-summary .book-summary-inner .book-directory .step .step-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border-width: 3px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #b5b7ba;
  color: #b5b7ba;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.book-container .book-summary .book-summary-inner .book-directory .center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.book-container .book-summary .book-summary-inner .book-directory .center .title {
  font-size: 14px;
}

.book-container .book-summary .book-summary-inner .book-directory .center .sub-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.book-container .book-summary .book-summary-inner .book-directory .center .sub-line .to-read {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
  font-size: 12px;
}

.book-container .book-summary .book-summary-inner .book-directory .center .sub-line .statistics {
  color: #b2bac2;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.book-container .book-summary .book-summary-inner .book-directory .center .sub-line .statistics span {
  margin-right: 12px;
}

.book-container .book-content {
  margin-top: 30px;
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 320px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .book-container .book-content {
    margin-left: 0;
  }
}

.book-container .book-content .book-body {
  position: relative;
  padding-bottom: env(safe-area-inset-bottom);
}

.book-container .book-content .book-body .section-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 60px 240px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book-container .book-content .book-body .section-page .markdown-body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  color: #333;
}

.book-container .book-content .book-body .section-page .markdown-body h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.5;
  margin-top: 35px;
  padding-bottom: 5px;
}

.book-container .book-content .book-body .section-page .book-comments {
  padding-top: 30px;
}

.book-container .book-content .book-body .section-page .book-comments .box-title {
  margin: 1.3rem 0;
  text-align: center;
  color: #909090;
  font-weight: 500;
  font-size: 16px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper {
  padding-top: 28px;
  padding-bottom: 8px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #1d2129;
  width: 100%;
  padding-bottom: 8px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #e5e6eb;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .user-popover {
  display: inline;
  height: 33px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .user-popover img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .popover-box {
  display: inline;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 16px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main {
  position: relative;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .user-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .divide {
  display: block;
  width: 1px;
  height: 14px;
  background: #e5e6eb;
  margin: 0 12px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .position {
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .time {
  font-size: 14px;
  color: #86909c;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .content {
  font-size: 14px;
  line-height: 22px;
  color: #4e5969;
  margin-top: 8px;
  -webkit-line-clamp: 6;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .action-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .action-box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
  color: #86909c;
}

.book-container .book-content .book-body .section-page .book-comments .comment-list-wrapper .comment .content-box .comment-main .action-box .item svg {
  fill: #86909c;
  margin-right: 4px;
}

.book-container .book-content .book-handle {
  display: none;
  position: fixed;
  width: 100%;
  left: 50%;
  max-width: calc(100vw - 340px);
  bottom: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 160px;
}

@media (max-width: 700px) {
  .book-container .book-content .book-handle {
    max-width: 100%;
    bottom: 30px;
    margin-left: 0;
  }
}

.book-container .book-content .book-handle .step-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  border-radius: 50%;
  background-color: #18C99D;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.book-container .book-content .book-handle .step-btn.step-btn--prev {
  left: 10px;
}

.book-container .book-content .book-handle .step-btn.step-btn--next {
  right: 10px;
}

.book-container .book-content .book-handle .step-btn img {
  width: 32px;
}
/*# sourceMappingURL=book.css.map */