{% extends 'v2_front/layout/main.html' %}
{% load staticfiles ww_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/v2/article.css' %}">
    <style>
        #id_category {
            font-size: 12px;
            background-color: #F3F3F4;
            border-radius: 10px;
            border: 0;
            height: 30px;
            width: 200px;
        }
        #id_excerpt {
            border: 0;
            border-radius: 8px;
        }
        .content-right {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          background-color: #ffffff;
        }

        .content-right .base-detail .title {
          color: #222222;
          height: 50px;
          line-height: 50px;
          padding-left: 20px;
          border-bottom: 1px solid #CCCCCC;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .content-right .base-detail .title p{
          margin: 0;
        }

        .content-right .base-detail form {
          padding: 96px 0 0 36px;
        }

        .content-right .base-detail .form-group {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 20px;
          color: #222222;
          font-size: 14px;
        }

        .content-right .base-detail .form-group .label {
          margin-right: 20px;
        }

        .content-right .base-detail .form-group label {
          margin-bottom: 0;
          margin-right: 20px;
        }

        .content-right .base-detail .form-group input[type="radio"] {
          display: none;
        }

        .content-right .base-detail .form-group input[type="radio"] + span {
          display: inline-block;
          width: 15px;
          height: 15px;
          vertical-align: middle;
          border-radius: 50%;
          border: 1px solid #999;
          background-color: #fff;
        }

        .content-right .base-detail .form-group input[type="radio"]:checked + span {
          width: 15px;
          height: 15px;
          border: 1px solid #fff;
          background-color: #E60012;
        }

        .content-right .base-detail .submit-btn {
          width: 160px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          background-color: #E60012;
          color: #ffffff;
          border-radius: 2px;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          margin-top: 80px;
        }

        @media screen and (max-width: 768px) {
          .content-left {
            width: 100vw;
            margin-bottom: 20px;
            margin-right: 0;
          }
        }
    </style>
{% endblock %}
{% block body %}
<div class="article-container">
    {% include 'v2_front/layout/header.html' %}
    <div class="activity-content main-container">
        {% include 'v2_front/auth/tab/tab_select.html' %}
        <div class="content-right col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="base-detail">
              <div class="title">基本资料</div>
              <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'update_user_info' user.id  %}" role="form">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="form-group">
                  <div class="label">昵称：</div>
                  <input type="text" name="user_name" style="border:0; width:500px; height:36px" value="{{ user.user_name }}" />
                </div>
                <hr/>
                <div class="form-group">
                  <div class="label">我的邀请码：</div>
                  <span>{{ user.invite_code }}</span>
                </div>
                <hr/>
                <div class="form-group">
                  <div class="label">性别：</div>
                  <div>
                    {% include "v2_front/auth/tab/sex_select.html" %}
                  </div>
                </div>
                <div class="form-group" style="margin-top:30px">
                  <div class="label">简介：</div>
                  <div>
                    <textarea name="user_introduce" style="resize:none; border:0; width:600px; height:120px;">{{ user_info.user_intro }}</textarea>
                  </div>
                </div>
                <hr/>
                <div class="form-group">
                  <div class="label">公司：</div>
                  <div>
                     <input type="text" name="user_company" style="border: 0; width: 500px; height: 36px" value="{{ user_info.company }}" />
                  </div>
                </div>
                <hr/>
                <div class="form-group">
                  <div class="label">职位：</div>
                  <div>
                     <input type="text" name="user_position" style="border: 0; width: 500px; height: 36px" value="{{ user_info.user_pos }}" />
                  </div>
                </div>
                <hr/>
                <div class="form-group">
                  <div class="label">头像：</div>
                  <div>
                      {% if user_info.user_pho %}
                          <img id="pic"  width="220" height="180" src="{% url 'index' %}media/{{ user_info.user_pho }}" alt="">
                      {% else %}
                          <img id="pic"  width="220" height="220" src="{% static 'images/avatar.png' %}" alt="">
                      {% endif %}
                      <input id="upload" name="user_photo" accept="image/*" type="file" style="display: none">
                  </div>
                </div>
                <hr/>
                <button style="border:none; background-color:#18C99D; outline:none;" type="submit" class="submit-btn" role="button">点击修改个人信息</button>
              </form>
            </div>
        </div>
    </div>
</div>
<script>
      $(function() {
      $("#pic").click(function() {
          $("#upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传
          $("#upload").on("change", function() {
              var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
              if (objUrl) {
                  $("#pic").attr("src", objUrl); //将图片路径存入src中，显示出图片
              }
          });
      });
  });
  function getObjectURL(file) {
      var url = null;
      if (window.createObjectURL != undefined) { // basic
          url = window.createObjectURL(file);
      } else if (window.URL != undefined) { // mozilla(firefox)
          url = window.URL.createObjectURL(file);
      } else if (window.webkitURL != undefined) { // webkit or chrome
          url = window.webkitURL.createObjectURL(file);
      }
      return url;
  }
</script>
{% endblock %}