{% extends 'backend/layout/filter_panel.html' %}
{% load staticfiles ww_tags %}
{% block bixin_head_title %}
{% endblock %}
{% block panelHeader %}
    <link rel="stylesheet" href="{% static '/css/v2/libraryDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/v2/editormd.preview.css' %}">
{% endblock %}
{% block filter %}
<h2>视频详情</h2>
<ul class="nav navbar-right panel_toolbox">
  <li>
      <a href="{% url 'back_course_list' %}">返回视频教程列表<i class="fa fa-chevron-right ml-1"></i></a>
  </li>
</ul>
<div class="clearfix"></div>
{% endblock %}
{% block content %}
<div class="form-horizontal form-label-left">
  <div class="form-group" style="text-align: center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-control form-display col-md-12 col-xs-12 bixin-text-wrap" style="font-size:20px">
          {{ vedio.title }}
      </div>
    </div>
  </div>
  <div class="form-group" style="text-align: center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-control form-display col-md-12 col-xs-12 bixin-text-wrap" style="font-size:20px">
          <img src="{% url 'index' %}media/{{ vedio.logo }}">
      </div>
    </div>
  </div>
  <div class="form-group" style="text-align: center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-control form-display col-md-12 col-xs-12 bixin-text-wrap">
          <span>作者：{{ vedio.user.user_name }}</span>
          <span style="margin-left: 10px">类别：{{ vedio.category.name }}</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-control form-display col-md-12 col-xs-12 bixin-text-wrap">视频摘要：{{ vedio.excerpt }}</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-control form-display col-md-12 col-xs-12 bixin-text-wrap">
          视频内容： {{ vedio.detail | safe }}
      </div>
    </div>
  </div>
  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3"></div>
  </div>
</div>
{% endblock %}


